* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #151623;
  background-image: url(../images/gif\ wallpaper.gif);
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-family: sans-serif;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 25%;
  height: 60vh;
  margin-top: 5%;
}

.formcontainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
